body {
  font-size: 16px;
  color: #fff;
  background-color: #596b27;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #73a5d3;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 {
  font-family:  sans-serif;
  color: #3e7c5a;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222 ;
  line-height: 0.75;
}

.logo_img {
  scale: 0.8;
  margin: -25px;
}

/* END HEADER */

.warrant-canary {
  font-size: 0.8em;
  color: black;
  text-align: left;
  /* margin: 10px; */
  border: 5px solid #596b27;

  background: rgb(220, 233, 220);
  /* padding: 15px; */
}

.purpose {
  font-size: 2em;
  font-weight:700;
  color: black;
  line-height: 1;
  background: rgb(220, 233, 220);
  margin: 10px 0px 10px 0px;
}

.ID {
  font-size: 1.5em;
  color: black;
  margin: 0px 10px 0px 0px;
}

.expired {
  font-size: 1.5em;
  color: #d5560d;
  text-align: left;
}

.expiring_soon {
  font-size: 1.5em;
  color: #d5560d;
  text-align: left;
}

.deleted {
  font-size: 2em;
  color: #d5560d;
  text-align: center;
  margin: 30px;
}

.important_info {
  font-size: 1em;
  color: black;
}

.button {
  background-color: #596b27;
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
}

.button_small {
  background-color: #596b27;
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  width: 40%;
}

.input {
  width: 55%;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand h1 {
    font-size: 2em;
  }

  .logo_img {
    scale: 0.4;
    margin: -45px;
  }
}


