body {
  font-size: 16px;
  color: #fff;
  background-color: #596b27;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #73a5d3;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 {
  font-family:  sans-serif;
  color: #3e7c5a;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222 ;
  line-height: 0.75;
}
/* END HEADER */

.warrant-canary {
  font-size: 0.8em;
  color: black;
  text-align: left;
  /* margin: 10px; */
  border: 5px solid #596b27;

  background: rgb(220, 233, 220);
  /* padding: 15px; */
}

.purpose {
  font-size: 2em;
  color: black;
  text-align: left;
  background: rgb(220, 233, 220);
}

.expired {
  font-size: 3em;
  color: red;
  text-align: center;
  margin: 10px;
}

.expiring_soon {
  font-size: 2em;
  color: rgb(238, 143, 0);
  text-align: center;
  margin: 5px;
}

.deleted {
  font-size: 2em;
  color: rgb(238, 143, 0);
  text-align: center;
  margin: 30px;
}

.button {
  background-color: #596b27;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
}






